.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-buttons {
    display: flex;
    gap: 10px; /* Ajoute de l'espace entre les boutons */
}

.add-device-button, .logout-button {
    background-color: #4CAF50; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Ajoute du padding */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur pointeur */
    border-radius: 5px; /* Bords arrondis */
}

.add-device-button:hover, .logout-button:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}

/* Scroll View Horizontale */
.scroll-view {
    display: flex;
    overflow-x: auto; /* Active le défilement horizontal */
    height: 50vh; /* Hauteur : 50% de la hauteur de l'écran */
    border: 1px solid #ddd; /* Ajoute une bordure pour la vue défilante */
    padding: 10px;
    box-sizing: border-box;
}

.scroll-item {
    min-width: 200px; /* Largeur minimale des éléments à l'intérieur */
    height: 100%; /* Assure que les éléments remplissent la hauteur */
    background-color: #f4f4f4; /* Couleur de fond des éléments */
    margin-right: 10px; /* Espacement entre les éléments */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scroll-view::-webkit-scrollbar {
    height: 8px;
}

.scroll-view::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
